<div class="header-container" [@startAnimation]>
    <div class="header-title">
        <h3 class="city-name">
            {{weatherData && weatherData.name ? weatherData.name : '--'}}
        </h3>
        <div class="date-title">
            {{getDate() | date: 'dd/MM/yyyy, hh:mm'}}
        </div>
    </div>
    <div class="header-body">
        <div class="header-temperature">
            <span>{{weatherData && weatherData.main && weatherData.main.temp ? utils.getTempSymbol(weatherData.main.temp) : ''}}{{weatherData
                && weatherData.main && weatherData.main.temp ? (weatherData.main.temp | number : '1.0-0') : '--'}}
            </span>
        </div>
        <div class="header-weather">
            <mat-icon svgIcon="{{weatherData && weatherData.weather && weatherData.weather[0].icon ? weatherData.weather[0].icon
                    : ''}}"></mat-icon>
        </div>
        <div class="header-data">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-icon svgIcon="thermometer"></mat-icon>
                    {{weatherData && weatherData.main ? weatherData.main.humidity : '--'}} mm Hg
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon svgIcon="moon-new"></mat-icon>
                    {{weatherData && weatherData.main ? weatherData.main.pressure : '--'}}% humidity
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon svgIcon="weather-windy"></mat-icon>
                    {{weatherData && weatherData.main ? weatherData.wind.speed : '--'}} m/s MW
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>