.header-container {
    .header-title {
        display: flex;
        flex-flow: column;
        margin-bottom: 1em;
        .city-name {
            text-align: center;
            flex-basis: 100%;
            margin-block-end: 0.2em !important;
        }
        .date-title {
            text-align: center;
            flex-basis: 100%;
        }
    }
    .header-body {
        display: flex;
        .header-temperature {
            justify-content: flex-end;
            display: flex;
            flex: 1;
            flex-basis: 33%;
            font-size: 7em;
            padding-block-start: .15em;
        }
        .header-weather {
            justify-content: center;
            display: flex;
            flex: 2;
            flex-basis: 33%;
            mat-icon {
                width: 9.5em;
                height: 9.5em;
            }
        }
        .header-data {
            justify-content: flex-start;
            display: flex;
            flex: 3;
            flex-basis: 33%;
            mat-icon {
                margin-right: 0.3em;
            }
        }
    }
}