.weather-day-container {
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: center;
    .day-container {
        margin-block-end: 1em;
    }
    .weather-container {
        margin-block-end: 1em;
        min-height: 7em;
    }
    .temperature-container {
    }
}