<div class="weather-day-container" [@startAnimation]>
    <div class="day-container">
        {{weatherData ? utils.getDateDay(weatherData.dt_txt) : '--'}} at {{weatherData ? utils.getDateHour(weatherData.dt_txt) :
        '--'}}
    </div>
    <div class="weather-container">
        <mat-icon svgIcon="{{weatherData && weatherData.weather && weatherData.weather && weatherData.weather[0]
                && weatherData.weather[0].icon ? weatherData.weather[0].icon : ''}}"></mat-icon>
    </div>
    <div class="temperature-container">
        {{weatherData && weatherData.main && weatherData.main.temp ? utils.getTempSymbol(weatherData.main.temp) : ''}}{{weatherData
        && weatherData.main && weatherData.main.temp ? (weatherData.main.temp | number : '1.0-0') : '--'}}
    </div>
</div>